@model DonorAppVersion2.Models.PayPalModel

@{
    ViewBag.Title = "Pay Registration Fees";
   // Layout = "~/Views/Shared/_parentLayout.cshtml";
}

<h2>Registration Fees</h2>
<p>

    Welcome,
    Your one time setup fee for Donor 21 Parent Account is $500.
    <br />
    Demo Description Lines to be filled with actual description of fees. Demo Description Lines to be filled with actual description of fees. Demo Description Lines to be filled with actual description of fees.<br />

    <br />
    Proceed here to complete your payment.<br /><br />
</p>

<br />

<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">

    <!-- Identify your business so that you can collect the payments. -->
    <input type="hidden" name="business" value="business@donor21.com">

    <!-- Specify a Buy Now button. -->
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="return" value="http://localhost:59662/Paypal/RedirectFromPaypal">

    <!-- Specify details about the item that buyers will purchase. -->
    Description of Payment
    <input name="item_name" value="Parents One Time Registration Charges" class="form-control" readonly><br />
    Amount to be paid
    <div class="input-group">
        <span class="input-group-addon">$</span>
        <input name="amount" value="1" class="form-control" readonly aria-label="Amount">
    </div>

    
    <input type="hidden" name="currency_code" value="USD">
    <br />
    <!-- Display the payment button. -->
    <input type="submit" class="btn btn-success" name="submit" value="Proceed to Payment" />

</form>

