
@{
    ViewBag.Title = "RemoveAgency";
    Layout = "~/Views/Shared/_parentLayout.cshtml";
}

<h2>Remove Agency</h2>

<div class="form-group">
    <div class="col-md-12">
        <label class="label label-danger">@ViewBag.ErrorMessage</label>
        <label class="label label-warning">@ViewBag.WarningMessage</label>
        <label class="label label-success">@ViewBag.SuccessMessage</label>
    </div>
</div> 
