
@{
    ViewBag.Title = "Session Timeout";
}

<br /><br /><br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="myTile">
            <center>
                <h1> Session Expired</h1>
                <hr />
                You can login again by @Html.ActionLink("Clicking Here", "Login")
            </center>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>